* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-image: url(images/fond.png);
    background-repeat: no-repeat;
    background-size: cover;
}