body {
    margin: 0;
    padding: 0;
    background-color: rgb(157, 157, 255);
}

.Titre h1,p {
    color: rgb(164, 69, 69);
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-style: italic;
}
h1{
    text-align: center;
    color:brown;
}
img{
    flex-direction: row;
    margin:auto;
    width: 300px;
    height: 200px;
  
}

.carousel-container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-caption {
    border-radius: 10px;
    border: 1px solid black;
    border-style: dotted;
    background-color: rgba(255, 255, 255, 0.733);
}

img {
    border: 1px solid black;
    border-radius: 10px;
}