body {
    background-color: rgb(5, 40, 99);
    font-family: Arial, sans-serif;
}
.gallery-container {
    padding: 30px 0;
}
.gallery-title {
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;
    font-size: 3em;
    color: #931212;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(162, 223, 7), 0 0 0.2em rgb(249, 163, 5);
}
.photo-card {
    margin-bottom: 30px;
    text-align: center;
}
.photo-card img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: 550px;
}
.photo-title {
    margin-top: 10px;
    font-size: 2em;
    color: #330303;
}