* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    
}

body {
    background-color: rgb(59, 146, 140);
}

h1, p {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.rond {
 border-radius: 5%;
}

.test {

    font-style: italic;

}

img {

    width : 500px;
    height : 300px;

}