body {
    background-color: rgb(213, 212, 212);
}

h1 {
    text-align: center;
    font-family: fantasy;
    text-transform: uppercase;
}

.titre {
    text-align: center;
    font-size: 1.5em;
    font-family: fantasy;
    text-transform: uppercase;
}

.card {
    box-shadow: 6px 4px 16px;
    background-color: gray;
    max-width: 350px;
    max-height: 700px;  
}

.card-img-top {
    border: 2px solid black;
    min-height: 380px;
    max-height: 400px;
    
}
.card-body {
    text-align: justify;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}