body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}


img {
    display: fixed;
    margin: auto;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}


#carousel {

    padding-top: 300px;
}

.carousel-control-prev {
    padding-top: 70px;
    left: 500px;
    top: 100px;
}


.carousel-control-next {
    padding-top: 70px;
    right: 500px;
    top: 100px;
}
